Name : **Priyanshi** <br>
Roll no :  102497022 <br>
Subgroup : 2Q14

In [3]:
import pandas as pd

# Q1
data = {
    'Tid':[1,2,3,4,5,6,7,8,9,10],
    'Refund':['Yes','No', 'No', 'Yes', 'No', 'No', 'Yes', 'No','No','No'],
    'Marital Status':['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
    'Taxable Income': ['125K', '100K', '70K', '120K','95K','60K','220K','85K','75K','90K'],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)
print(df)

#Q2
print(df.loc[0])
print(df.loc[4])
print(df.loc[7])
print(df.loc[8])

#Q3
print(df.iloc[3:8])
print(df.iloc[4:9, 2:5])
print(df.iloc[:,1:4])

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes
Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income      125K
Cheat                 No
Name: 0, dtype: object
Tid                      5
Refund                  No
Marital Status    Divorced
Taxable Income         95K
Cheat                  Yes
Name: 4, dtype: object
Tid                    8
Refund                No
Marital Status    Single
Taxable Income       85K
Cheat                Yes
Name: 7, dtype: object
Tid                     9
Refund                 No
Marital Status    Married
Taxable Income        75K
Cheat                  No
Name: 8, dtype: object
   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [19]:
# Q 4-5
import pandas as pd
from google.colab import drive

path = '/content/drive/My Drive/Iris.csv'
df1 = pd.read_csv(path)
print(df1.head())
df1.drop(4,axis=0,inplace=True)
df1.drop(df1.columns[3],axis=1,inplace=True)
print(df1.to_string())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm          Species
0      1            5.1           3.5           0.2      Iris-setosa
1      2            4.9           3.0           0.2      Iris-setosa
2      3            4.7           3.2           0.2      Iris-setosa
3      4            4.6           3.1           0.2      Iris-setosa
5      6            5.4           3.9           0.4      Iris-setosa
6      7            4.6           3.4           0.3      Iris-setosa
7      8            5.0           3.4           0.2      Iris-setosa
8      9            4.4           2.9           0.2      Iris-setosa
9     10            4.9           3.1           0.1      Iris-setosa
10    11            5.4           3.7           0.2      Iris-setosa
11    12            4.8           3.4           0.2      Iris-setosa
12    13            4.8           3.0           0.1      Iris-setosa
13    14            4.3           3.0           0.1      Iris-setosa
14    15            5.8           4.0           0.2      Iris-setosa
15    16            5.7           4.4           0.4      Iris-setosa
16    17            5.4           3.9           0.4      Iris-setosa
17    18            5.1           3.5           0.3      Iris-setosa
18    19            5.7           3.8           0.3      Iris-setosa
19    20            5.1           3.8           0.3      Iris-setosa
20    21            5.4           3.4           0.2      Iris-setosa
21    22            5.1           3.7           0.4      Iris-setosa
22    23            4.6           3.6           0.2      Iris-setosa
23    24            5.1           3.3           0.5      Iris-setosa
24    25            4.8           3.4           0.2      Iris-setosa
25    26            5.0           3.0           0.2      Iris-setosa
26    27            5.0           3.4           0.4      Iris-setosa
27    28            5.2           3.5           0.2      Iris-setosa
28    29            5.2           3.4           0.2      Iris-setosa
29    30            4.7           3.2           0.2      Iris-setosa
30    31            4.8           3.1           0.2      Iris-setosa
31    32            5.4           3.4           0.4      Iris-setosa
32    33            5.2           4.1           0.1      Iris-setosa
33    34            5.5           4.2           0.2      Iris-setosa
34    35            4.9           3.1           0.1      Iris-setosa
35    36            5.0           3.2           0.2      Iris-setosa
36    37            5.5           3.5           0.2      Iris-setosa
37    38            4.9           3.1           0.1      Iris-setosa
38    39            4.4           3.0           0.2      Iris-setosa
39    40            5.1           3.4           0.2      Iris-setosa
40    41            5.0           3.5           0.3      Iris-setosa
41    42            4.5           2.3           0.3      Iris-setosa
42    43            4.4           3.2           0.2      Iris-setosa
43    44            5.0           3.5           0.6      Iris-setosa
44    45            5.1           3.8           0.4      Iris-setosa
45    46            4.8           3.0           0.3      Iris-setosa
46    47            5.1           3.8           0.2      Iris-setosa
47    48            4.6           3.2           0.2      Iris-setosa
48    49            5.3           3.7           0.2      Iris-setosa
49    50            5.0           3.3           0.2      Iris-setosa
50    51            7.0           3.2           1.4  Iris-versicolor
51    52            6.4           3.2           1.5  Iris-versicolor
52    53            6.9           3.1           1.5  Iris-versicolor
53    54            5.5           2.3           1.3  Iris-versicolor
54    55            6.5           2.8           1.5  Iris-versicolor
55    56            5.7           2.8           1.3  Iris-versicolor
56    57            6.3           3.3           1.6  Iris-versicolor
57    58            4.9           2.4           1.0  Iris-versicolor
58    59            6.6           2.9           1.3  Iris-versicolor
59    60            5.2           2.7           1.4  Iris-versicolor
60    61            5.0           2.0           1.0  Iris-versicolor
61    62            5.9           3.0           1.5  Iris-versicolor
62    63            6.0           2.2           1.0  Iris-versicolor
63    64            6.1           2.9           1.4  Iris-versicolor
64    65            5.6           2.9           1.3  Iris-versicolor
65    66            6.7           3.1           1.4  Iris-versicolor
66    67            5.6           3.0           1.5  Iris-versicolor
67    68            5.8           2.7           1.0  Iris-versicolor
68    69            6.2           2.2           1.5  Iris-versicolor
69    70            5.6           2.5           1.1  Iris-versicolor
70    71            5.9           3.2           1.8  Iris-versicolor
71    72            6.1           2.8           1.3  Iris-versicolor
72    73            6.3           2.5           1.5  Iris-versicolor
73    74            6.1           2.8           1.2  Iris-versicolor
74    75            6.4           2.9           1.3  Iris-versicolor
75    76            6.6           3.0           1.4  Iris-versicolor
76    77            6.8           2.8           1.4  Iris-versicolor
77    78            6.7           3.0           1.7  Iris-versicolor
78    79            6.0           2.9           1.5  Iris-versicolor
79    80            5.7           2.6           1.0  Iris-versicolor
80    81            5.5           2.4           1.1  Iris-versicolor
81    82            5.5           2.4           1.0  Iris-versicolor
82    83            5.8           2.7           1.2  Iris-versicolor
83    84            6.0           2.7           1.6  Iris-versicolor
84    85            5.4           3.0           1.5  Iris-versicolor
85    86            6.0           3.4           1.6  Iris-versicolor
86    87            6.7           3.1           1.5  Iris-versicolor
87    88            6.3           2.3           1.3  Iris-versicolor
88    89            5.6           3.0           1.3  Iris-versicolor
89    90            5.5           2.5           1.3  Iris-versicolor
90    91            5.5           2.6           1.2  Iris-versicolor
91    92            6.1           3.0           1.4  Iris-versicolor
92    93            5.8           2.6           1.2  Iris-versicolor
93    94            5.0           2.3           1.0  Iris-versicolor
94    95            5.6           2.7           1.3  Iris-versicolor
95    96            5.7           3.0           1.2  Iris-versicolor
96    97            5.7           2.9           1.3  Iris-versicolor
97    98            6.2           2.9           1.3  Iris-versicolor
98    99            5.1           2.5           1.1  Iris-versicolor
99   100            5.7           2.8           1.3  Iris-versicolor
100  101            6.3           3.3           2.5   Iris-virginica
101  102            5.8           2.7           1.9   Iris-virginica
102  103            7.1           3.0           2.1   Iris-virginica
103  104            6.3           2.9           1.8   Iris-virginica
104  105            6.5           3.0           2.2   Iris-virginica
105  106            7.6           3.0           2.1   Iris-virginica
106  107            4.9           2.5           1.7   Iris-virginica
107  108            7.3           2.9           1.8   Iris-virginica
108  109            6.7           2.5           1.8   Iris-virginica
109  110            7.2           3.6           2.5   Iris-virginica
110  111            6.5           3.2           2.0   Iris-virginica
111  112            6.4           2.7           1.9   Iris-virginica
112  113            6.8           3.0           2.1   Iris-virginica
113  114            5.7           2.5           2.0   Iris-virginica
114  115            5.8           2.8           2.4   Iris-virginica
115  116            6.4           3.2           2.3   Iris-virginica
116  117            6.5           3.0           1.8   Iris-virginica
117  118            7.7           3.8           2.2   Iris-virginica
118  119            7.7           2.6           2.3   Iris-virginica
119  120            6.0           2.2           1.5   Iris-virginica
120  121            6.9           3.2           2.3   Iris-virginica
121  122            5.6           2.8           2.0   Iris-virginica
122  123            7.7           2.8           2.0   Iris-virginica
123  124            6.3           2.7           1.8   Iris-virginica
124  125            6.7           3.3           2.1   Iris-virginica
125  126            7.2           3.2           1.8   Iris-virginica
126  127            6.2           2.8           1.8   Iris-virginica
127  128            6.1           3.0           1.8   Iris-virginica
128  129            6.4           2.8           2.1   Iris-virginica
129  130            7.2           3.0           1.6   Iris-virginica
130  131            7.4           2.8           1.9   Iris-virginica
131  132            7.9           3.8           2.0   Iris-virginica
132  133            6.4           2.8           2.2   Iris-virginica
133  134            6.3           2.8           1.5   Iris-virginica
134  135            6.1           2.6           1.4   Iris-virginica
135  136            7.7           3.0           2.3   Iris-virginica
136  137            6.3           3.4           2.4   Iris-virginica
137  138            6.4           3.1           1.8   Iris-virginica
138  139            6.0           3.0           1.8   Iris-virginica
139  140            6.9           3.1           2.1   Iris-virginica
140  141            6.7           3.1           2.4   Iris-virginica
141  142            6.9           3.1           2.3   Iris-virginica
142  143            5.8           2.7           1.9   Iris-virginica
143  144            6.8           3.2           2.3   Iris-virginica
144  145            6.7           3.3           2.5   Iris-virginica
145  146            6.7           3.0           2.3   Iris-virginica
146  147            6.3           2.5           1.9   Iris-virginica
147  148            6.5           3.0           2.0   Iris-virginica
148  149            6.2           3.4           2.3   Iris-virginica
149  150            5.9           3.0           1.8   Iris-virginica

In [20]:
# Q6
import pandas as pd

from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/MyDrive/Employees.csv'
df = pd.read_csv(path)


# a)
shape = df.shape
print("Shape of the DataFrame:", shape)

# b)

print("\nSummary of DataFrame:\n")
summary = df.info()

# c)
descriptive_stats = df.describe()
print("\nDescriptive Statistics:\n", descriptive_stats)

# d)
print("\nFirst 5 rows of the DataFrame:\n", df.head())
print("\nLast 3 rows of the DataFrame:\n", df.tail(3))

# e)
average_salary = df["Salary"].mean()
total_bonus = df["Bonus"].sum()
youngest_age = df["Age"].min()
highest_rating = df["Rating"].max()

print("\nAverage Salary:", average_salary)
print("Total Bonus:", total_bonus)
print("Youngest Employee's Age:", youngest_age)
print("Highest Performance Rating:", highest_rating)

# f)
df_sorted = df.sort_values(by="Salary", ascending=False)
print("\nDataFrame sorted by Salary:\n", df_sorted)

# g)
def performance_category(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

df["Performance"] = df["Rating"].apply(performance_category)
print("\nDataFrame with Performance Category:\n", df)

# h)
missing_values = df.isnull().sum()
print("\nMissing Values in DataFrame:\n", missing_values)

# i)
df.rename(columns={"Employee_ID": "ID"}, inplace=True)
print("\nDataFrame after renaming Employee_ID to ID:\n", df)

# j)
filtered_employees = df[(df["Years_of_Experience"] > 5) & (df["Department"] == "IT")]
print("\nFiltered Employees:\n", filtered_employees)

# k)
df["Tax"] = df["Salary"] * 0.10
print("\nDataFrame with Tax Column:\n", df)

# l)
df.to_csv("employees_modified.csv", index=False)
print("\nModified DataFrame saved to 'employees_modified.csv'")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Shape of the DataFrame: (5, 10)

Summary of DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes

Descriptive Statistics:
        Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

First 5 rows of the DataFrame:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   15-03-2020  Female   5000     4.5
1   19-07-2017    Male   7000     4.0
2   01-06-2013    Male   6000     3.8
3   10-02-2021  Female   4500     4.7
4   25-11-2010    Male   5000     3.5

Last 3 rows of the DataFrame:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   01-06-2013    Male   6000     3.8
3   10-02-2021  Female   4500     4.7
4   25-11-2010    Male   5000     3.5

Average Salary: 60000.0
Total Bonus: 27500
Youngest Employee's Age: 28
Highest Performance Rating: 4.7

DataFrame sorted by Salary:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   19-07-2017    Male   7000     4.0
2   01-06-2013    Male   6000     3.8
4   25-11-2010    Male   5000     3.5
3   10-02-2021  Female   4500     4.7
0   15-03-2020  Female   5000     4.5

DataFrame with Performance Category:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance
0   15-03-2020  Female   5000     4.5   Excellent
1   19-07-2017    Male   7000     4.0        Good
2   01-06-2013    Male   6000     3.8     Average
3   10-02-2021  Female   4500     4.7   Excellent
4   25-11-2010    Male   5000     3.5     Average

Missing Values in DataFrame:
 Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64

DataFrame after renaming Employee_ID to ID:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   15-03-2020
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013
3  104    Diana  Marketing   28   55000                    3   10-02-2021
4  105   Edward      Sales   38   60000                   12   25-11-2010

   Gender  Bonus  Rating Performance
0  Female   5000     4.5   Excellent
1    Male   7000     4.0        Good
2    Male   6000     3.8     Average
3  Female   4500     4.7   Excellent
4    Male   5000     3.5     Average

Filtered Employees:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average

DataFrame with Tax Column:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   15-03-2020
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013
3  104    Diana  Marketing   28   55000                    3   10-02-2021
4  105   Edward      Sales   38   60000                   12   25-11-2010

   Gender  Bonus  Rating Performance     Tax
0  Female   5000     4.5   Excellent  5000.0
1    Male   7000     4.0        Good  7000.0
2    Male   6000     3.8     Average  6500.0
3  Female   4500     4.7   Excellent  5500.0
4    Male   5000     3.5     Average  6000.0

Modified DataFrame saved to 'employees_modified.csv'